<footer class="bg-light text-center text-lg-start" style="position: fixed; bottom: 0; width: 100%; height: 60px;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: whitesmoke">
    © 2020 Copyright:
    <a class="text-dark" href="https://syed-portfolio.com/">syed-portfolio</a>
  </div>
  <!-- Copyright -->
</footer>