<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        .contact-form {
            background-color: #fbfbfb;
            padding: 15px 20px 15px;
            border: 1px solid #ececec;
            width: 450px;
            margin: 50px auto;
        }

        .contact-form .form-header {
            margin-bottom: 40px;
        }

        .contact-form form .btn {
            width: 100%;
        }

        .contact-form .form-header h2 {
            font-weight: bold;
            color: #03a9f4;
        }

        /*-- CSS for extra small devices--*/
        @media (max-width: 767px) {
            .contact-form {
                width: 90%;
            }
        }
    </style>
</head>

<body>
    <%- include('../partials/header') %>

        <div class="contact-form">
            <div class="form-header text-center">
                <h2>Add new user</h2>
            </div>
            <form method="POST" action="/users">
                <div class="row">
                    <div class="form-group">
                        <input type="text" id="firstname" name="firstname" placeholder="First Name" class="form-control"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="text" id="lastname" name="lastname" placeholder="Last Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Email Id" class="form-control" required />
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Password" class="form-control"
                        required />
                </div><br>
                <div class="form-group">
                    <button class="btn btn-primary">Add new user</button>
                </div>
            </form>
        </div>

        <%- include('../partials/footer') %>
</body>

</html>